.footer {
  text-align: center;
  padding: 7rem 0;
  &__social-list {
    display: flex;
    gap: 2rem;
    margin: 0 0 1rem;
    justify-content: center;
    list-style: none;
    &-icon {
      color: var(--gray-800);
      font-size: 2.6rem;
      &:hover {
        color: var(--primary);
      }
    }
  }
  &__copyright {
    margin: 0;
    font-size: 1.3rem;
  }
}
